body{
    background-color: rgb(200, 228, 228);
    margin: 30px;
}

h1{
    color: brown;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 10px;
    display: inline;
}

span{
    color: deeppink;
}

p{
    color:rgb(12, 35, 141);
    background-color:darkorange;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
}

#italic{
    font-style: italic;
}